<!doctype html>
<html>
<head>
	<meta charset='utf-8' />
	<%= wicked_pdf_stylesheet_link_tag "pdf" -%>
	<%= wicked_pdf_stylesheet_link_tag "asistencia" -%>
	<%= wicked_pdf_javascript_include_tag "number_pages" %>
	<style>
		.alwaysbreak { page-break-before: always; }
		.nobreak:before { clear:both; }
		.nobreak { page-break-inside: avoid; }
		thead { display: table-header-group }
		tfoot { display: table-row-group }
		tr { page-break-inside: avoid }
	</style>
</head>
<body onload='number_pages'>
	<div id="header">
		<%= wicked_pdf_image_tag 'CIE_logo.png', width: 70 %>
	</div>
	<div id="content">
		<header>
			<div class="row">
				<%if @registry_patient.present?%>
					<div class="col-6">
						Nombre del cliente: <%= @registry_patient.display_name %>
					</div>
					<br>
					<div class="col-12">
						<span > <b>Días de servicio del:</b> <em><%=@start_date.to_date.strftime("%d/%m/%Y")%> <b>al</b> <%=@end_date.to_date.strftime("%d/%m/%Y")%></em></span>
					</div>
				<%end%>
			</div>
		</header>
		<main>
			<div class="nobreak">
				<% assistances = @patient_assistance %>
				
				<%if assistances.present?%>
					<table class = "nobreak" style="border: 1px solid #ddd;">
						<thead>
							<tr>
								<th class="service" style="border: 1px solid #ddd;">No.</th>
								<th class="service" style="border: 1px solid #ddd;">Fecha</th>
								<th class="unit" style="border: 1px solid #ddd;">Hora</th>
								<th class="unit" style="border: 1px solid #ddd;">Tutor/Madre/Padre</th>
								<th class="unit" style="border: 1px solid #ddd;">Firma del Padre/Representante</th>
								<th class="unit" style="border: 1px solid #ddd;">Número de cédula del padre o tutor del niño</th>
								<th class="unit" style="border: 1px solid #ddd;">Colaborador/a que recibe</th>
								<th class="unit" style="border: 1px solid #ddd;">Colaborador/a que entrega</th>

							</tr>
						</thead>
						<tbody>
							<%assistances.reverse.each_with_index do |assistance, index|%>
								<tr>
									<td class="service" style="border: 1px solid #ddd;"><%=index+1%></td>
									<td class="service" style="border: 1px solid #ddd;"><%=assistance.assistance_date.strftime("%d/%m/%Y") %></td>
									<td class="service" style="border: 1px solid #ddd;">
										<% unless assistance.received_at.nil? || assistance.delivered_at.nil?%>
											<%= assistance.received_at.strftime("%H:%M") + ' - ' + assistance.delivered_at.strftime("%H:%M") %>
										<% else %>
											<%= assistance.assistance_date.strftime("%H:%M") %>
										<% end %>
									</td>
									<td class="service" style="border: 1px solid #ddd;"><%=assistance.tutor%></td>
									<td class="service" style="border: 1px solid #ddd;"></td>
									<td class="service" style="border: 1px solid #ddd;"><%=assistance.personal_code%></td>
									<td class="service" style="border: 1px solid #ddd;">
										<% if !assistance.employee_who_receives.nil? %>
											<%= assistance.employee_who_receives.display_name %>
										<% elsif !assistance.registry_employee.nil? %>
											<%= assistance.registry_employee.display_name %>
										<% else %>
											<%= '' %>
										<% end %>
									</td>
									<td class="service" style="border: 1px solid #ddd;">
										<% if !assistance.employee_who_delivers.nil? %>
											<%= assistance.employee_who_delivers.display_name %>
										<% elsif !assistance.registry_employee.nil? %>
											<%= assistance.registry_employee.display_name %>
										<% else %>
											<%= '' %>
										<% end %>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table>
				<%end%>
			</div>
			<div id="notices">
				<div>Nota:</div>
				<div class="notice"></div>
			</div>
		</main>
	</div>
</body>
</html>